.ul-menu{
   height: 50px;
   display: flex;
   /* align-items: center; */
   cursor: pointer;
   padding: 5px;
   /* flex-direction: column; */

}
.ul-menu:hover{
    background-color: rgba(128, 128, 128, 0.28);
}
.Mes{
    height: 30px;
    background-color: slateblue;
    color: white;
    display: flex;
    align-items: center;
}
.Mes h4{
    margin-left: 10px;
}
.Mes-fot{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.144);
    cursor: pointer;
}
.img-mes{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.message-head{
    width: 100%;
    margin-left: 15px;
}

.person-ul{
    font-size: 10px;
}